/*
Primary

- Cyan: #2acfcf
- Dark Violet: #3b3054

Secondary

- Red: #f46262

Neutral

- Gray: #bfbfbf
- Grayish Violet: #9e9aa7
- Very Dark Blue: #35323e
- Very Dark Violet: #232127
*/


body {
    color: #3b3054;
    font-size: 18px;
    font-family: Poppins, sans-serif !important;
    overflow-x: hidden;
}

.MuiButtonBase-root {
    font-family: Poppins, sans-serif !important;
    font-weight: bold !important;
}

.MuiInputBase-input {
    font-family: Poppins, sans-serif !important;
    border-radius: 10px !important;
    background-color: white !important;
}

.MuiOutlinedInput-root:focus-within, .MuiOutlinedInput-notchedOutline { /* Textfield focus outline */
    border-radius: 10px !important;
}

.css-1kosj89-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline { /* Error outline */
    border-width: 3px !important;
}

.MuiFormHelperText-root { /* Error text */
    font-family: Poppins, sans-serif !important;
    font-style: italic;
    position: absolute;
    margin: 0 !important;
    top: 60px;
}


/* NAVBAR */
.NavBar .MuiButtonBase-root {
    font-size: 13px;
    color: gray;
}
.NavBar .MuiButtonBase-root:hover {
    color: #35323e;
    font-weight: bold;
}

.css-1hkieba-MuiButtonBase-root-MuiButton-root:hover { /* For login button */
    font-weight: unset !important;
}


/* HOME */
.ShortenLink {
    background-image: linear-gradient(white 50%, #f0f0f5 50%);
}

.ShortenLinkBox {
    background-image: url("img/bg-shorten-desktop.svg");
}

.css-1tvq1qn-MuiInputBase-root-MuiOutlinedInput-root { /* "Shorten a link here..." textfield's focus outline */
    border-radius: 10px !important;
}

.css-1qw74c6-MuiButtonBase-root-MuiButton-root { /* "Shorten It!" button */
    border-radius: 10px !important;
}


/* FOOTER */
.BoostLink {
    background-image: url("img/bg-boost-desktop.svg");
}

.FooterLinks a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
.FooterLinks a:hover {
    color: #2acfcf !important;
}

.FooterSubLinks a {
    color: #bfbfbf !important;
}


/* RESPONSIVE */
@media (max-width: 830px) {

    /* NAVBAR */
    .MuiButtonBase-root {
        color: white !important;
        font-weight: 700 !important;
    }

    .ModalNavBar {
        animation: animatePopDown 0.3s ease-out;
    }


    /* HOME */
    .PageContent {
        padding-top: 106px;
    }

    .BannerImg {
        transform: scale(0.8);
        overflow: visible;
        width: 1px;
        height: 375px;
        margin-top: -50px;
    }

    .ShortenLinkBox {
        background-image: url("img/bg-shorten-mobile.svg");
        background-repeat: no-repeat;
        background-position: 100% 0;
    }
}


/* ANIMATION */
@keyframes animatePopDown {
    from {transform: translateY(-100%); opacity: 50} 
    to {transform: translateY(0); opacity: 100}
}