/*
Primary

- Dark Blue: #2d314d
- Lime Green: #31d35c
- Bright Cyan: #2bb7da

Neutral

- Grayish Blue: #9698a6
- Light Grayish Blue: #f3f4f6
- Very Light Gray: #fafafa
- White: #ffffff
*/

body {
    font-family: 'Public Sans', sans-serif !important;
    overflow-x: hidden !important;
}

p {
    color: #9698a6 !important;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 37px;
}

.MuiButton-contained {
    font-family: 'Public Sans', sans-serif !important;
    font-weight: 700 !important;
    color: white !important;
    background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
    border-radius: 50px !important;
    padding: 10px 30px !important;
    text-transform: capitalize !important;
}


/* NAVBAR */
.Navbar a {
    text-decoration: none;
    color: gray;
    padding: 30px 0;
    border-bottom: 4px solid transparent;
}
.Navbar a:hover {
    color: #333;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
    border-image-slice: 1;
}


/* HOME */
.BannerRight {
    background-image: url(./img/bg-intro-desktop.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.BannerImg {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 20%;
}

.WhyChooseLogo {
    margin-bottom: 20px;
}

.WhyChooseCards {
    height: 100%;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.WhyChooseCards h3 {
    font-size: 24px;
}

.ArticleCards {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ArticleCards:hover h3 {
    color: #31d3b0;
}

.ArticleCardContent {
    padding: 15px 27px 10px !important;
}


/* FOOTER */
.Footer p {
    color: white !important;
}

.Footer a {
    text-decoration: none;
    color: white;
}
.Footer a:hover {
    color: #31d3b0 !important;
}

.Socials:hover {
    filter: invert(40%) sepia(29%) saturate(1005%) hue-rotate(103deg) brightness(120%) contrast(80%);
}


/* RESPONSIVE */
@media (max-width: 1100px) {

    /* NAVBAR */
    .Navbar {
        width: 50% !important;
    }
    

    /* HOME */
    .BannerImg {
        width: 120%;
        bottom: 0;
        top: 0;
    }

    .WhyChoose {
        padding-top: 8%;
    }
}

@media (max-width: 750px) {

    body {
        overscroll-behavior: none;
    }
    
    .MuiButton-text {
        color: #333 !important;
        text-transform: capitalize !important;
        font-size: 16px !important;
    }


    /* NAVBAR */
    .MuiBackdrop-root, .MuiModal-root {
        margin-top: 70px;
        background-color: transparent !important;
        background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(50,55,80,0.8) 100%);
    }

    .ModalNavBar {
        animation: animatePopDown 0.3s ease-out;
    }


    /* HOME */
    .BannerTop {
        background-image: url(./img/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50px;
    }

    .BannerImgM  {
        z-index: 1;
    }

    .WhyChooseLogo {
        margin-bottom: 10px;
    }
}


/* ANIMATION */
@keyframes animatePopDown {
    from {transform: translateY(-100%); opacity: 50} 
    to {transform: translateY(0); opacity: 100}
}